<launch>
<!--rosrun dynamic_reconfigure dynparam set camera/decimation 'filter_magnitude' 5 -->

  <!-- Cameras -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="camera"          value="cameraUP" />
    <arg name="serial_no"       value="242422302806" />
    <arg name="align_depth"     value="true" />
    <arg name="filters"         value="pointcloud,decimation" />
    <arg name="publish_odom_tf" value="false"/>
  </include>
</launch> 